env
server/evennia.db3
server/evennia.db3
world/character_sheet/migrations
world/banking/migrations
world/ships/migrations
world/crafts/migrations
world/adventuring_guilds/migrations
server/oldevennia.db3
server/logs/portal.log
server/logs/portal.log
server/logs/portal.log
server/logs/portal.log.2024_08_31
server/logs/channel_public.log
server/logs/http_requests.log
server/logs/lockwarnings.log
*.pyc
*.log
*.cypthon-*
world/crafts/__pycache__/models.cpython-312.pyc
world/adventuring_guilds/__pycache__/models.cpython-312.pyc
world/banking/__pycache__/admin.cpython-312.pyc
world/banking/__pycache__/models.cpython-312.pyc
commands/__pycache__/combatcmdset.cpython-312.pyc
commands/__pycache__/cmdattack.cpython-312.pyc
.pyc
.cpython