
{% block content %}
<h1 class="card-title">Welcome to <b>Dragon's Cove!</b></h1>

<hr/>

{% load static %}

<link rel="stylesheet" href="{%static 'static/website/css/custom/website.css'%}">


<p class="lead">Adventures in the 7th Sea</p>

<p>
    If you came looking for a place where you can swashbuckle and play at intrigue,
    this is the right place.
</p>

{% if webclient_enabled %}

<p><a href="{% url 'webclient:index' %}" class="playbutton">Play in the browser!</a></p>

{% endif %}
{% if telnet_enabled %}
<p>
    Telnet: <strong>{{ server_hostname }}</strong>, port
    {% for port in telnet_ports %}
    {% if not forloop.first and forloop.last %} or
    {% elif forloop.counter != 1 %},
    {% endif %}
    <strong>{{ port }}</strong>
    {% endfor %}
</p>
{% endif %}
{% if telnet_ssl_enabled %}
<p>
    Telnet (SSL): <strong>{{ server_hostname }}</strong>, port
    {% for port in telnet_ssl_ports %}
    {% if not forloop.first and forloop.last %} or
    {% elif forloop.counter != 1 %},
    {% endif %}
    <strong>{{ port }}</strong>
    {% endfor %}
</p>
{% endif %}
{% if ssh_enabled %}
<p>
    SSH: <strong>{{ server_hostname }}</strong>, port
    {% for port in ssh_ports %}
    {% if not forloop.first and forloop.last %} or
    {% elif forloop.counter != 1 %},
    {% endif %}
    <strong>{{ port }}</strong>
    {% endfor %}
</p>
{% endif %}

<p>
    Evennia is Open source and can be found on <a href="https://github.com/evennia/evennia">GitHub</a>.
    If you find bugs, please report them to the <a href="https://github.com/evennia/evennia/issues">Issue tracker</a>.
</p>

{% endblock %}